github "sindresorhus/LaunchAtLogin" == 4.1.0
github "sindresorhus/Defaults" == 4.2.2
github "sindresorhus/Preferences" == 2.2.1
github "shpakovski/MASShortcut" == 2.4.0
github "sparkle-project/Sparkle" == 1.27.3
